<html>
<head>
    <title>{{ title}}</title>
    <link rel="stylesheet" href="/fm-basic.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/basic-print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/nonav.css" type="text/css" media="all" />
    <link rel="Shortcut Icon" type="image/png" href="/images/intelblue.ico" />
    <style type="text/css" media="all">
    </style>
</head>

<body {% block body %}{% endblock %}>
  <div id="head">
  <span>BXD HLP Projects : </span> <a href=".">{{ title}}</a>
  </div>

{% block links %}
  <div id="links">
    <a href='{% url base %}resources/'>Resources</a> |
    <a href='{% url base %}equipment/'>Lab Equipment</a> |
    <a href='{% url requests %}'>Request queue</a> | ---- |
    <a href='{% url base %}admin/'>Equipment Admin Panel</a> | ---- |
    <a href='https://hlp-sqa.igk.intel.com' target="_blank">SQA Results</a> | ---- |
    <a href='http://hlp-storage.igk.intel.com/' target="_blank">Storage</a>
  </div>
{% endblock %}

{% if error %}<p>{{ error }}</p>{% endif %}

    {% block top %}{% endblock %}
    {% block content %}{% endblock %}
    {% block bottom %}{% endblock %}

  <div id="response" style="max-height: 7%; width:100%; overflow-x: hidden;"></div>
{% include "debug_sql.html" %}

</body>
</html>
