{% extends "base.html" %}
{% block 'content' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<script type="text/javascript">
  function checked_items_release() {
    var items = "";
    var el = document.getElementsByName('resource_checkbox')
    for (var i=0; i < el.length; i++){
      if(el[i].checked) {
        items += "," + el[i].value;
      }
    }
    if(items != "") {
      alert("release");

      for (var i=0; i < el.length; i++){
        if(el[i].checked) {
          el[i].checked = false;
        }
      }

    } else {
      alert("Error: No Resources selected.");
    }
  }

  function checked_items_reserve() {
    var items = "";
    var el = document.getElementsByName('resource_checkbox')
    for (var i=0; i < el.length; i++){
      if(el[i].checked) {
        items += "," + el[i].value;
      }
    }
    if(items != "") {
      alert("reserve");

      for (var i=0; i < el.length; i++){
        if(el[i].checked) {
          el[i].checked = false;
        }
      }

    } else {
      alert("Error: No Resources selected.");
    }
  }

</script>


<div id="limit_cont">
  <form>
    <label id="limit_label">
      Acquire as user:
      <input id="limit_input">
    </label>
  </form>
</div>


<div id="reserve_buttons">
  <a style="font-size: 90%;" onClick="checked_items_reserve()">Immediate reservation of checked resources</a>
  <span class="comment">
    (4 steps in one click)
  </span>
  <br/>
  <a onClick="checked_items_release()">Release reservation of checked resources</a> |
  <a onClick="checked_items_reserve()">Reserve checked resources</a>
  <span class="comment">
    (Lock a rig to your username, even if you release it)
  </span>
  <br/>
  <span style=" font-size: 110%;">
    <a onClick="checked_items_release()">Release requested checked resources</a> |
    <a onClick="checked_items_reserve()">Request checked resources</a>
  </span>
  <span class="comment">
    (Normal box usage)
  </span>
</div>

<form method="get">
  {{myFilter.form}}
  <button class="btn btn-primary" type="submit">Search</button>
</form>

<table id="maintable" class="table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Network IP:port</th>
          <th>Power server:slot</th>
          <th>Console server:port</th>
          <th>Time owned</th>
          <th>Owner</th>
          <th>Location</th>
          <th>Platform</th>
          <th>Chip</th>
          <th>Last Request</th>
        </tr>
      </thead>

      <tbody>
      {% for resource in resources %}
        <tr>
          <td style="width:50px;">
            <form>
              <label id="resource_label">
                {{resource.resource_id}}
                <input type="checkbox" class="resource_checkbox" name="resource_checkbox" value="{{ resource.resource_id }}">
              </label>
            </form>
          </td>
          <td>{{resource.description}}</td>
          <td>{{resource.network_ip}}</td>
          <td>{{resource.power_ip_port}}</td>
          <td>{{resource.console_ip_port}}</td>
          <td></td>
          <td>{{resource.request_id.user}}</td>
          <td>{{resource.location}}</td>
          <td>{{resource.platform_type}}</td>
          <td>{{resource.chip.chip_name}}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
</table>

{% endblock %}
