{% extends "base.html" %}
{% block 'content' %}
{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<div id="limit">
  <form>
    <label id="limit_label">
      Acquire as user:
      <input id="limit_input">
    </label>
  </form>
</div>

<table id="maintable" class="table-sm table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Network IP:port</th>
          <th>Power server:slot</th>
          <th>Console server:port</th>
          <th>Time owned</th>
          <th>Owner</th>
          <th>Platform</th>
          <th>Chip</th>
          <th>Last Request</th>
        </tr>
      </thead>

      <tbody>
      {% for resource in resources %}
        <tr>
          <td style="width:50px;">
            <form>
              <label id="resource_label">
                {{resource.resource_id}}
                <input type="checkbox" id="resource_checkbox">
              </label>
            </form>
          </td>
          <td>{{resource.description}}</td>
          <td>{{resource.network_ip}}</td>
          <td>{{resource.power_ip_port}}</td>
          <td>{{resource.console_ip_port}}</td>
          <td></td>
          <td></td>
          <td>{{resource.platform_type}}</td>
          <td>{{resource.chip.chip_name}}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
</table>

{% endblock %}
