body {
    background-color: white;
    font-family: verdana;
  }

#maintable {
    width: 100%;
    background-color:#F0F0F0;
    border-collapse: collapse;
    border-width: 2px;
    border-color: 	#B8B8B8;
    border-style: solid;
    color: #000000;
}

#maintable td, #maintable th {
    border-width: 2px;
    border-color: 	#B8B8B8;
    border-style: solid;
    padding: 3px;
}

#maintable thead {
    background-color: #1E90FF;
    color: white;
}

.content {
    margin: 12pt;
}

td #checkbox {
    text-align: center;
}