body {
    background-color: white;
    font-family: verdana;
  }

#maintable {
    margin-top: 15px;
    width: 100%;
    background-color:#F0F0F0;
    border-collapse: collapse;
    border-width: 1.5px;
    border-color: #B8B8B8;
    border-style: solid;
    color: #000000;
}

#maintable td, #maintable th {
    border-width: 1px;
    border-color: #B8B8B8;
    border-style: solid;
    padding: 3px;
}

#maintable thead {
    background-color: #1E90FF;
    color: white;
}

.content {
    margin: 12pt;
}

td #checkbox {
    text-align: center;
}

#resource_checkbox {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

#resource_label {
    display: block;
    text-align: right;
}

#limit_label {
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
}

#limit_input {
    margin-left: 4px;
    bottom: 3px;
    position: relative;
}

#reserve_buttons {
    font-weight: bold;
    color: #00308F;
}

#reserve_buttons a:hover{
    color: #127CC1;
}

#reserve_buttons span{
    font-size: 11px;
}

#reserve_buttons select {
    border: 1px solid #aaa;
    margin-left: 0.5em;
    padding: 1px 2px;
}

#reserve_buttons label {
    font-size: 11px;
    margin-left: 0.5em;
}

#reserve_buttons a {
    cursor: hand;
    cursor: pointer;
}

span .comment {
    font-weight: lighter;
}
